.container-contact{
    padding: 40px;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: white;
    align-items: center;
}

.share{
    color: rgb(96, 84, 108);
}

.input{
    width: 60%;
}

.check{
    width: auto;
}